<div class="row">
    <div class="col-lg-12">
        &nbsp;
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Enviar/Programar PUSH
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Configurar Mensaje</h3>
                        <form role="form">
                            <div class="form-group">
                                <label>Nombre del Push</label>
                                <input class="form-control">
                                <p class="help-block">Indica un nombre para guardar este push y poder repetirlo.</p>
                            </div>
                            <div class="form-group">
                                <label>Texto del Push</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <h3>Destinatario</h3>
                        <form role="form">
                            <label>Buscar por email</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <label>Buscar por idCustomer</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">#</span>
                                <input type="text" class="form-control" placeholder="IdCustomer">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Selección por Plataforma</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""> <img src="assets/img/icons/android.png"> <span class="label label-info">Android</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""> &nbsp;<img src="assets/img/icons/apple.png"> &nbsp;<span class="label label-info">IOS</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""> &nbsp;<img src="assets/img/icons/earth.png"> &nbsp;<span class="label label-info">Todos</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
                <div class="col-lg-6 text-left">
                    <hr>
                    <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane-o"></i> Enviar PUSH ahora</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reiniciar configuración</button>
                </div>
                <div class="col-lg-6 text-right">
                    <hr>
                    <button type="reset" class="btn btn-info"><i class="fa fa-calendar-plus-o"></i> Programar PUSH</button>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Developer Tools
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Configurar Mensaje</h3>
                        <form role="form">
                            <div class="form-group">
                                <label>Nombre del Push</label>
                                <input class="form-control">
                                <p class="help-block">Indica un nombre para guardar este push y poder repetirlo.</p>
                            </div>
                            <div class="form-group">
                                <label>Texto del Push</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="well" ns-hide="dev.recibedData">
                                {{dev.result}}
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <h3>Destinatario/Devicetoken</h3>
                        <form role="form">
                            <label>Buscar por email</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <label>Buscar por idCustomer</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">#</span>
                                <input type="text" class="form-control" placeholder="IdCustomer">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <label>DeviceToken</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                <input type="text" class="form-control" placeholder="Devicetoken" ng-model="dev.devicetoken">
                                <span class="input-group-btn">
                                    <button ng-click="getTokenFromDeviceToken()" class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Selección por Plataforma</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""> <img src="assets/img/icons/android.png"> <span class="label label-info">Android</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""> &nbsp;<img src="assets/img/icons/apple.png"> &nbsp;<span class="label label-info">IOS</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
                <div class="col-lg-6 text-left">
                    <hr>
                    <button type="submit" class="btn btn-success" ng-click="sendSimplePush(dev.token)"><i class="fa fa-paper-plane-o"></i> Enviar PUSH ahora</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Borrar Formulario</button>
                </div>
                <div class="col-lg-6 text-right">
                    <hr>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->


</div>