<div class="row">
    <div class="col-lg-12">
        &nbsp;
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!--<div class="panel panel-default">
            <div class="panel-heading">
                Enviar/Programar PUSH
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Configurar Mensaje</h3>
                        <form role="form">
                            <div class="form-group">
                                <label>Nombre del Push</label>
                                <input class="form-control" type="text" ng-model="prod.push_name">
                                <p class="help-block">Indica un nombre para guardar este push y poder repetirlo.</p>
                            </div>
                            <div class="form-group">
                                <label>Título del Push</label>
                                <input class="form-control" type="text" ng-model="prod.push_title">
                            </div>
                            <div class="form-group">
                                <label>Texto del Push</label>
                                <textarea class="form-control" rows="3" ng-model="prod.push_message"></textarea>
                            </div>
                        </form>
                    </div>
                    &lt;!&ndash; /.col-lg-6 (nested) &ndash;&gt;
                    <div class="col-lg-6">
                        <h3>Destinatario</h3>
                        <form role="form">
                            <label>Buscar por email</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Email" ng-model="prod.email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <label>Buscar por idCustomer</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">#</span>
                                <input type="text" class="form-control" placeholder="IdCustomer" ng-model="prod.id_customer">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Selección por Plataforma</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="prod.android_platform" ng-change="setPlatform(2)"> <img src="assets/img/icons/android.png"> <span class="label label-info">Android</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="prod.apple_platform" ng-change="setPlatform(1)"> &nbsp;<img src="assets/img/icons/apple.png"> &nbsp;<span class="label label-info">IOS</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="prod.all_platform" ng-change="setPlatform(999)"> &nbsp;<img src="assets/img/icons/earth.png"> &nbsp;<span class="label label-info">Todos</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    &lt;!&ndash; /.col-lg-6 (nested) &ndash;&gt;
                </div>
                &lt;!&ndash; /.row (nested) &ndash;&gt;
                <div class="col-lg-6 text-left">
                    <hr>
                    <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane-o"></i> Enviar PUSH ahora</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reiniciar configuración</button>
                </div>
                <div class="col-lg-6 text-right">
                    <hr>
                    <button type="reset" class="btn btn-info"><i class="fa fa-calendar-plus-o"></i> Programar PUSH</button>
                </div>
            </div>
            &lt;!&ndash; /.panel-body &ndash;&gt;
        </div>-->
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Developer Tools
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Configurar Mensaje</h3>
                        <form role="form">
                            <div class="form-group">
                                <label>Push name</label>
                                <input class="form-control" ng-model="dev.push_name">
                                <p class="help-block">Indica un nombre para guardar este push y poder repetirlo.</p>
                            </div>
                            <div class="form-group">
                                <label>Título push</label>
                                <input class="form-control" ng-model="dev.push_title">
                            </div>
                            <div class="form-group">
                                <label>Texto del push</label>
                                <textarea class="form-control" rows="3" ng-model="dev.push_message"></textarea>
                            </div>

                            <div class="well" ng-show="dev.show_dialog" ng-animate="'animate'">
                                <div class="text-right"><i class="fa fa-times" ng-click="dev.show_dialog=false" style="cursor:pointer;"></i></div>
                                <div ng-repeat="dev in dev.devicetokens">
                                    <h6>Aviable Token:</h6><span ng-click="selectToken(dev.token)" class="label label-primary" style="padding-top:5px;cursor:pointer;">{{ dev.token | limitTo: 20 }}{{dev.token.length > 20 ? '...' : ''}}</span>
                                </div>
                                <div ng-bind-html="dev.result" ng-click="removeToken()" style="cursor:pointer;">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <h3>Destinatario/Devicetoken</h3>
                        <form role="form">
                            <label>Buscar por email</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Email" ng-model="dev.email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="getTokensFromEmail()"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
<!--                            <label>Buscar por idCustomer</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">#</span>
                                <input type="text" class="form-control" placeholder="IdCustomer" ng-model="dev.id_customer">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="showAlert('hola');"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>-->
                            <label>DeviceToken</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                <input type="text" class="form-control" placeholder="Devicetoken" ng-model="dev.devicetoken">
                                <span class="input-group-btn">
                                    <button ng-click="getTokenFromDeviceToken()" class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Selección por Plataforma</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="dev.android_platform" ng-change="setDevPlatform(2)"> <img src="assets/img/icons/android.png"> <span class="label label-info">Android</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="dev.apple_platform" ng-change="setDevPlatform(1)"> &nbsp;<img src="assets/img/icons/apple.png"> &nbsp;<span class="label label-info">IOS</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
                <div class="col-lg-6 text-left">
                    <hr>
                    <button type="submit" class="btn btn-success" ng-click="sendSimplePush(dev.token)"><i class="fa fa-paper-plane-o"></i> Enviar PUSH ahora</button>
                    <button type="button" class="btn btn-danger" ng-click="clearDevForm()"><i class="fa fa-ban"></i> Borrar Formulario</button>
                </div>
                <div class="col-lg-6 text-right">
                    <hr>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->


</div>