<div class="container-fluid">
    &nbsp;<br>
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="col-md-6 text-center">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Segment Name
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="model.name"/>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Segment Description
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="model.description"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <label for="exampleInputEmail1">
                <img src="assets/img/icons/android.png">&nbsp;<img src="assets/img/icons/apple.png">&nbsp;JSON Configuration:
            </label>
        </div>
        <div class="col-md-12">
            <textarea style="width:100%" rows="3" ng-model="model.configuration"></textarea>
        </div>

        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">
                Cancelar <i class="fa fa-ban"></i>
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success btn-block" ng-click="ok(model)">
                Salvar Segmento <i class="fa fa-floppy-o"></i>
            </button>

        </div>
    </div>
</div>
&nbsp;<br>