<table width="580" border="0" cellpadding="0" cellspacing="0" bgcolor="white">
    <tbody>
    <tr style="text-align: initial;">
        <td>
            <span id="apps-ios" style="width:50%;float:right;">
                <a target="_blank" href="https://itunes.apple.com/es/app/mequedo1/id1016791066?mt=8"><img src="http://str.yeeday.net/img/cm/es/mqu/AppleStore.png" style="max-width: 49%;"></a>
            </span>
            <span id="apps-android" style="width:50%;float:left;">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.bioshook.mequedouno"><img src="http://str.yeeday.net/img/cm/es/mqu/GooglePlay.png" style="max-width: 49%;float:right;"></a>
            </span>
        </td>
    </tr>
    </tbody>
</table>