<table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
    <tbody><tr>
        <td style="font-size: 14px;  font-weight: normal; font-family: Helvetica, Arial, sans-serif; line-height: 24px; vertical-align: top; text-align:center;">

            <p style="color: #9E9E9E; font-size:12px; line-height:14px;padding: 0;margin: 0;padding: 15px;">
                <i>
                    Si tienes problemas para ver este email puedes ver la <a href="__EMV_MIRRORLINK_EMV__" style="color: {{data.color}};" target="_blank">versi&oacute;n online</a><br> Para asegurarte que nuestros emails llegan a tu bandeja de entrada, agrega a tu libreta de direcciones el siguiente correo: <a href="mailto:news@noreply.mequedouno.com" target="_blank">news@noreply.mequedouno.com</a> . MQ1 Yeeday, S.L. (MeQuedoUno) | Cop&eacute;rnico 14 Bajos 08021. Recuerda que podr&aacute;s en todo momento modificar tu suscripci&oacute;n en el <a style="color: {{data.color}}" href="http://www.mequedouno.com/API/subscriptions.php?l=[EMV FIELD]HASH_EMAIL[EMV /FIELD]&ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]">centro de preferencias</a> de tu cuenta de usuario. Si lo deseas, puedes darte de <a style="color:{{data.color}}" href="http://www.mequedouno.com/bajas&ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]">baja</a> de la suscripci&oacute;n en dos clics.
                </i>
            </p>
        </td>
    </tr></tbody>
</table>
