<table width="270" border="0" cellpadding="0" cellspacing="0" ng-click="setImage()">
    <tbody>
    <tr>
        <td>
            <img src="{{item.link}}" width="270px">
        </td>
    </tr>
    <tr ng-if="item.footerText != '' ">
        <table width="270" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; padding-left: 10px;"  align="left"  bgcolor=" {{!item.color ? data.color : item.color}}" ><strong>{{item.footerText}}</strong></td>
                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #ffffff;" align="right" ng-if="footerDiscount != '' "  bgcolor=" {{!item.color ? data.color : item.color}}" >{{item.footerDiscount}}</td>
                </tr>
            </tbody>
        </table>
    </tr>
    </tbody>
</table>

