<table width="580" border="0" cellpadding="0" cellspacing="0" style="text-align: center;" ng-click="setSimpleText()">
    <tbody>
    <tr><td style="color: {{item.titleColor}} ;text-align: left;">
        <h1>{{item.title}}</h1>
    </td></tr>
    <tr><td width="100%">
        <table width="580" border="0" cellpadding="0" cellspacing="0" style="text-align: center;">
            <tbody>
            <tr><td style="color: rgb(107, 107, 107);text-align: left;">
                {{item.text}}
            </td></tr>
            </tbody>
        </table>
    </td></tr>
    </tbody>
</table>