<table class="fullWidth" width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
        <td width="100%" valign="top">
            <table width="580" border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody><tr>
                    <td width="580" align="center">

                        <a href="http://www.mequedouno.com/partners/NLParaguas?ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]" style="text-transform: uppercase;font-size: 18px;font-family:Arial, sans-serif;background: #DD4029;color:#ffffff;width: 100%;display: block;font-weight: bold;padding: 20px 0;margin: 10px 0;text-decoration: none;border-bottom: 4px solid #C22222;border-top: 2px solid #FF8060;">
                            VER LAS MEJORES OFERTAS <br>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>