<div class="row">
    <div class="col-lg-12">
        &nbsp;
        <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                <div ng-transclude></div>
            </div>
        </script>

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.time}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o"></i> <strong>Newsletter Maker</strong>
                <div style="float:right;">
                    <button type="button"  title="New" class="btn btn-warning" ng-click="new()"><i class="fa fa-file-text-o"></i></button>

                    <button type="button" title="Save" class="btn btn-success" ng-click="save()"> <i class="fa fa-floppy-o"></i></button>

                    <button type="button" title="Preview" class="btn btn-danger" ng-click="preview()"> <i class="fa fa-eye"></i></button>

                    <button type="button" title="Load More" class="btn btn-info" ng-click="loadNews()"><i class="fa fa-tasks"></i></button>
                </div>

            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class ="col-md-6">
                        <label>Newsletter Name</label>
                        <input class="form-control" placeholder="Nom Newsletter" ng-model="data.name">
                    </div>
                    <div class ="col-md-6">
                        <label>Newsletter Subject</label>
                        <input class="form-control" placeholder="Subject Newsletter" ng-model="data.subject">
                    </div>

                    <div class ="col-md-4">
                        <label>Tienda objetivo</label>
                        <select class="form-control" ng-model="data.shop">
                            <option  value="mqu" >Tech</option>
                            <option  value="mqc" >Chic</option>
                            <option  value="mqd" >Deporte</option>
                            <option  value="mqk" >Kids</option>
                            <option  value="mqh" >Hogar</option>
                            <option  value="mqv" >Vino</option>
                            <option  value="mqs" >Super</option>
                        </select>
                    </div>
                    <div class ="col-md-4">
                        <label>Cuenta objetivo</label>
                        <select class="form-control" ng-model="data.target.account">
                            <option  value="mqu" selected>Mequedouno</option>
                            <option  value="hs" >HS</option>
                        </select>
                    </div>
                    <div class ="col-md-4">
                        <label>Pais objetivo</label>
                        <select class="form-control" ng-model="data.target.country">
                            <option  value="spain" selected>Spain</option>
                            <option  value="br" >Brasil</option>
                            <option  value="mx" >Mexico</option>
                        </select>
                    </div>
                    <div class ="col-md-4">
                        <label>ReplyTo Label</label>
                        <input class="form-control" placeholder="Test" ng-model="data.target.replyToEmail">
                    </div>
                    <div class ="col-md-4">
                        <label>ReplyTo email</label>
                        <input class="form-control" placeholder="test@mequedouno.com" ng-model="data.target.replyToLabel">
                    </div>
                    <div class="col-md-4">
                        <label>Fecha prevista de envio</label>
                        <p class="input-group">

                            <input title="Fecha prevista de envio" type="text" name="date_picker"
                                   class="form-control" uib-datepicker-popup="{{datepicker.format}}"
                                   ng-model="data.expectedDate" is-open="datepicker.opened"
                                   datepicker-options="datepicker.dateOptions" date-disabled="disabled(date, mode)"
                                   close-text="Close" placeholder="Fecha prevista de envio"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info" ng-click="openDatepicker($event)"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-industry"></i> <strong>Drag & Drop here!</strong>
                    </div>
                    <div class="panel-body">
                        <div class="dragNews" ng-include="'newsletterMaker/newsletterMakerBase.tpl.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>