<style>
    body {
        padding: 15px;
    }

    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }

    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }

</style>
<div class="container-fluid">
    &nbsp;<br>
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="col-md-6 text-center">
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Campaign Name
                            </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="model.campaign_name"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Start Date:
                        </label>
                        <p class="input-group">
                            <input type="date" class="form-control" ng-model="model.starttime"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="opencalendar()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="col-md-12 text-center">

                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Selected segments
                        </label><br>
                        <ui-select multiple ng-model="model.segment.selectedValues" theme="select2" ng-disabled="disabled" style="width: 300px;">
                            <ui-select-match placeholder="Select segments...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="segment in availableSegments2 | filter:$select.search">
                                {{segment.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-12"><hr style="width:98%"></div>
        <div class="col-md-12">
            <label for="exampleInputEmail1">
                <img src="assets/img/icons/android.png">Push Android:
            </label>
        </div>
        <div class="col-md-12">
            <textarea style="width:100%" rows="3" maxlength="300" ng-model="model.android"></textarea>
            <p class="small">Remaining chars: {{android_remaining}}</p>
        </div>
        <div class="col-md-12">
            <label for="exampleInputEmail1">
                <img src="assets/img/icons/apple.png">Push Apple:
            </label>
        </div>
        <div class="col-md-12">
            <textarea style="width:100%" rows="3" maxlength="300" ng-model="model.apple"></textarea>
            <p class="small">Remaining chars: {{apple_remaining}}</p>
        </div>

        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">
                Cancelar <i class="fa fa-ban"></i>
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success btn-block" ng-click="ok(model)">
                Crear Campaña <i class="fa fa-plus"></i>
            </button>

        </div>
    </div>
</div>
&nbsp;<br>