<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
    <tbody>
    <tr>
        <td width="100%">
            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <tr>
                    <td>
                        <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                            <tbody>
                            <tr>
                                <td width="100%" height="20"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://chic.mequedouno.com/partners/NL_MQC?ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]">
                                        <table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                            <tbody>
                                            <tr>
                                                <td width="270" align="center" class="devicewidth" bgcolor="#6A3792" style=" color: white; font-size: 9px; font-weight: bold; font-family: Arial, sans-serif;">
                                                    <img alt="Activa las imágenes para ver las oportunidades de hoy" src="http://str.yeeday.net/img/cm/es/mqc/15-09-27ChicRalphN2.jpg" border="0" width="270" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="270" bgcolor="#6A3792" height="50">
                                                    <table width="218" align="left" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; padding-left: 10px;" align="left" height="50">
                                                                <strong>Ralph Lauren</strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="48" align="right" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #ffffff;" bgcolor="#6A3792" align="center" height="50">
                                                                65% Dto.
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                            <tbody>
                            <tr>
                                <td width="100%" height="20"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://deporte.mequedouno.com/partners/NL_MQD?ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]">
                                        <table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                            <tbody>
                                            <tr>
                                                <td width="270" align="center" class="devicewidth" bgcolor="#167DAE" style=" color: white; font-size: 9px; font-weight: bold; font-family: Arial, sans-serif;">
                                                    <img alt="Activa las imágenes para ver las oportunidades de hoy" src="http://str.yeeday.net/img/cm/es/mqd/15-09-27DeporteMegaventaRunningN2.jpg" border="0" width="270" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="270" bgcolor="#167DAE" height="50">
                                                    <table width="218" align="left" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; padding-left: 10px;" height="50" align="left">
                                                                <strong>MegaVenta Running</strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="48" align="right" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #ffffff;" bgcolor="#167DAE" height="50" align="center">
                                                                80% Dto.
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>