<table id="mirror-7988" class="fullWidth jTools_tool jTools_containerSelectable" width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
    <tr>
        <td width="100%" valign="top">
            <table width="580" border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td style="font-size: 14px;  font-weight: normal; font-family: Helvetica, Arial, sans-serif; line-height: 24px; vertical-align: top; text-align:center;">

                        <p style="color: #9E9E9E; font-size:12px; line-height:14px;padding: 0;margin: 0;">
                            <i>
                                Si no ves bien el email prueba la <a href="[EMV LINK]1[EMV /LINK]&ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]" style="color: #E78808;" target="_blank">versión online</a><br> Agrega a tu libreta de direcciones [EMV FIELD]EMVADMIN1[EMV /FIELD] para no perderte nuestros emails. Puedes modificar tus suscripciones en el <a style="color:#E78808" href="http://www.mequedouno.com/API/subscriptions.php?l=[EMV FIELD]HASH_EMAIL[EMV /FIELD]&ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]">centro de preferencias</a> o darte de <a style="color:#E78808" href="http://www.mequedouno.com/bajas/?l=[EMV FIELD]HASH_EMAIL[EMV /FIELD]&ekey=[EMV FIELD]EMAIL_ORIGINE[EMV /FIELD]">baja</a> en dos clics.
                            </i>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>